*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* background-color: #384D74; */
   
}

      /* --------- start main image --------- */


main{

    background-color: #384D74;
    padding-bottom: 150px;
}

.My-Title{
animation: shadow 3s ease-in-out infinite;
}

@keyframes shadow {
    0%{text-shadow: 5px 5px 3px #532800}
    50%{text-shadow: -5px 5px 3px #532800}
    100%{text-shadow: 5px 5px 3px #cd6b10}
    100%{text-shadow: 5px 5px 3px #cd6b10}
    50%{text-shadow: -5px 5px 3px #532800}
    0%{text-shadow: 5px 5px 3px #532800}
}


.Text-Inside-Image{
    position: relative;
    /* padding-bottom: 250px; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
  
    
}

.Text-Inside-Image p{
  
margin-left: 15%;

}

.Name{
    z-index: 10;
}

.Hello{
    font-size: 7vw;
    font-style: italic;
    font-weight: 700;
    font-family: arial;
    color: white;
}



.Anzor{
    font-size: 5vw;
    font-style: italic;
    font-weight: 700;
    font-family: arial;
    color: white;

}

.Orange{
    font-size: 3vw;
    font-style: italic;
    font-weight: 700;
    font-family: arial;
    color: white;
}


.Button{
    background-color: #384D74;
    border: 20px  solid  #F47F12;
    font-size: 2vw;
    color: #F47F12;
    font-weight: 900;
    font-family: "Times New Roman", Times, serif;
    padding: 10px 30px 10px 30px;

}

.Hover-Button{
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #F47F12;
}


.Hover-Button:hover{
    color:#384D74;
}


#More{
    background-color: #384D74;
    border: 20px solid #F47F12;
    font-size: 2vw;
    color: #F47F12;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 30px 10px 30px;

}




main img{
    width: 100%;
    position: absolute;

}

   /* --------- End main Image --------- */


 /* --------- Start Personal Information --------- */


 .Three-Image{
    padding-top: 250px;
 }

.Personal{
    
    display: flex;
    color: white;
    justify-content: space-evenly;
    width: 100%;
 
}

.Personal-Information{
    border: 4px ;
    border-color: #F47F12;
    border-style: double;
    width: 600px;
    height: 500px;
}

.Personal ul li{
    list-style: none;
} 

.info{
    display: flex;
    font-size: 2vw;
    /* white-space: pre; */
    padding-left: 80px;
        
}




.Personal-Information{
    box-shadow: 0px 5px 30px 3px  #F47F12;
}



#information{
    padding: 15px 10px 15px 10px;
    background-color: #F47F12;
    text-align: center;
    display: flex;
    color: white;
    justify-content: space-evenly;
    width: 100%;

}

.Personal img{
    width: 600px;
    height: 500px;
}

 /* --------- End Personal Information --------- */


  /* --------- Start Education --------- */
#Education{
    padding-top: 100px;
    display: flex;
    color: white;
    justify-content: space-evenly;
}

.Education-class{
    box-shadow: 0px 5px 30px 3px  #F47F12;
}

#Education ul li{
    
    list-style: none;
    text-align: center;
} 

.Education-B{
    padding: 15px 10px 15px 10px;
    background-color: #F47F12;
    text-align: center;
}

.Education-class{
    border: 4px;
    border-color: #F47F12;
    border-style: double;
    width: 600px;
    height: 500px;
}

.Educ{
    
    font-size: 2vw;
    padding-top: 70px;
   
    
}

#Education img{
    width: 600px;
    height: 500px;
}

 /* --------- End Education --------- */


  /* --------- Start My-Hobby --------- */
#Hobby{
    display: flex;
    padding-top: 100px;
    color: white;
    justify-content: space-evenly;
}

#Hobby img{
    width: 600px;
    height: 500px;
  
}
.Hobby-ul{
    border: 4px;
    border-color: #F47F12;
    border-style: double;
    width: 600px;
    height: 500px;

}

.Hobby-ul{
    box-shadow: 0px 5px 30px 3px  #F47F12;
}

.Hobby-Header{
    padding: 15px 0px 15px 6px;
    background-color: #F47F12;
    text-align: center;
    
}

.Hobby-Paragraph{
    font-size: 2vw;
    padding-top: 40px;
    text-align: start;
    padding-left: 100px;
    
  
}

#Hobby ul li{
    list-style: none;
    
}

.title-project{
    display: flex;
    justify-content: center;
   padding-bottom: 50px;
    font-size: 60px;
    font-weight: 900;
    color: white;


}

.project-head{
    display: flex;
    color: #fff;
    margin-top: 20px;
    font-size: 35px;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    background-color: #F47F12;
   

}

.title-pro{
    background-color: #384D74;
}


.Project{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
}

.Project img{
    height: 300px;
    width: 440px;
}


.Project img:hover{
    box-shadow: 0px 5px 30px 3px  #F47F12;
}


/* --------- End My-Hobby --------- */


.footerss{
    display: flex;
    background-color: #384D74;
    justify-content: space-between;
    padding-right: 90px;

   
}

footer img{
    width: 50px;
    height: 50px;
    
}

.footer{
    margin: 10px 20px 10px 0px;
  
}

.border{
    
     color:  rgb(160, 160, 160);
     width: 100%;
}

.copyright{
    display:flex;
    font-size: 1.5vw;
    color: white;
    align-items: center;
    margin-left: 70px;

}

/*------- Start Image Slider -------*/

.slider-frame{
    overflow: hidden;
    width: 600px;
    height: 500px;

}


.slide-Image{
    width: 1800px;
    height: 500px;
    position: relative;
    margin: 0 0 0 -1800px;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 11s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:alternate;
    -webkit-animation-play-state: running;
}


.img-container{
    width: 600px;
    height: 500px;
    position: relative;
    float: left;

}


.slider-frame{
    box-shadow: 15px 15px 15px #302f2f;
}


@-webkit-keyframes slide_animation{
    /* 0% {left: 0px;}
    10% {left: 0px;}
    20% {left: 600px;}
    30% {left: 600px;}
    40% {left: 1200;}
    50% {left: 1200;}
    60% {left: 600px;}
    70% {left: 600px;}
    80% {left: 0px;}
    90% {left: 0px;}
    100% {left: 0px;} */
/* 
    0% {left:  0px;}
    10% {left: 600px;}
    20% {left: 600px;}
    30% {left: 1200px;}
    40% {left: 1200;}
    50% {left: 1800;}
    60% {left: 1800px;}
    70% {left: 1200px;}
    80% {left: 1200px;}
    90% {left: 600px;}
    100% {left: 0px;} */

    
    0% {left:  600px;}
    10% {left: 600px;}
    20% {left: 600px;}
    30% {left: 1200px;}
    40% {left: 1200;}
    50% {left: 1800;}
    60% {left: 1800px;}
    70% {left: 1200px;}
    80% {left: 1200px;}
    90% {left: 600px;}
    100% {left: 600px;}



}


/*---------------- End Image Slider -----------------*/




@media screen and (max-width:850px){
   
    main{
        padding-bottom: 130px;
    }

    .Text-Inside-Image{
        margin-bottom: -220px;
    }

    .Three-Image{
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .Button{
        background-color: #384D74;
        border: 5px  solid  #F47F12;
        font-size: 2vw;
        color: #F47F12;
        font-weight: 600;
        font-family: "Times New Roman", Times, serif;
        padding: 1px 3px 1px 3px;
    
    }

    #More{
        background-color: #384D74;
        border: 5px solid #F47F12;
        font-size: 2vw;
        color: #F47F12;
        font-weight: 600;
        font-family: 'Times New Roman', Times, serif;
        padding: 1px 3px 1px 3px;
    
    }

    .Personal-Information{
        width: 270px;
    }
   
    .info{
        font-size: 3vw;
        padding-left: 10px;
    }
   
        .Educ{
            font-size: 3vw;
            padding-right: 20px;
           
          
    }
    .Hobby-Paragraph{
        font-size: 3vw;
        padding-left: 0px;
    }



    footer img{
        width: 30px;
        height: 30px;
        
    }

}

@media all and (max-width:850px){

    .Project{
        display: inline-block; 
        margin-left: 20px;

    }
    .project-head{
        margin-bottom: 40px;
        margin-top: 10px;
    }


}